<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Πρόγραμμα Διαχείρισης Οχημάτων Δήμου Χίου</span>
    <span class="example-spacer"></span>
    <button mat-raised-button aria-label="Κατάσταση Οχημάτων">
      Οχήματα
      <mat-icon>directions_car</mat-icon>
    </button>
    <button
      mat-raised-button
      aria-label="Εισαγωγή Νέου Οχήματος"
      [routerLink]="['/insert']"
    >
      Νέο Όχημα
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
